.filterBg {
  background: -webkit-linear-gradient(bottom, #e8519e, #c77ff2);
  opacity: 0.8;
}

.sbtBtn {
  background: -webkit-linear-gradient(bottom, #e8519e, #c77ff2);
}
.sbtBtn:hover {
  background: -webkit-linear-gradient(bottom, #c77ff2, #e8519e);
}

form input {
  outline: #c77ff2;
}
