.category-cont {
  clip-path: polygon(0 0, 90% 0, 33% 100%, 0% 100%);
  width: 100%;
  height: 100%;
  background: rgb(245, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(245, 0, 0, 0.7) 0%,
    rgba(0, 255, 231, 0.95) 100%
  );
}

.CategoryMain  img:hover {
  scale: 1.2;
  transition: all .51s ease-in-out;
}
